header{
    background: #00adb5;
    color: #fff;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.39);
    h2{
        color: #fff;
    }
}